page-administracion {
    .itemColor {
        background-color: lightyellow;
    }
    .itemColor2 {
        background-color: lightblue;
    }
    .itemColorChatActive {
        background-color: lightgreen;
        border-radius: 25px;
    }
    .itemColorChatDisabled {
        background-color: #E74C3C;
        border-radius: 25px;
    }
}