<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-5>
        <button block *ngIf="!beacon.key" ion-button color="primary" outline (click)="crearBeacon()">
            Crear Beacon
         </button>
        <button block *ngIf="beacon.key" ion-button color="warning" outline (click)="guardarBeacon()">
            Actualizar
          </button>
      </ion-col>
      <ion-col col-5>
        <button block *ngIf="beacon.key" ion-button color="danger" outline (click)="borrarBeacon(beacon.key)">
          Eliminar
         </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button block outline color="dark" icon-only (click)="cerrarModal()">
         <ion-icon name="md-close"></ion-icon>
       </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Región (UUID)</ion-label>
      <ion-select [(ngModel)]="beacon.uuid" name="uuid" requiered>
        <ion-option *ngFor="let region of regions" value="{{region.uuid}}">{{region.name}}: {{region.uuid}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Major</ion-label>
      <ion-input [(ngModel)]="beacon.major" name="major" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Minor</ion-label>
      <ion-input [(ngModel)]="beacon.minor" name="minor" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Título</ion-label>
      <ion-input [(ngModel)]="beacon.title" name="title" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Descripción</ion-label>
      <ion-textarea [(ngModel)]="beacon.description" name="description" type="text" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Noticia</ion-label>
      <ion-select [(ngModel)]="beacon.news" name="news">
        <ion-option value="null">Ninguna</ion-option>
        <ion-option *ngFor="let new of news" value="{{new.id}}" required>{{new.title}}: {{new.description}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Marcador</ion-label>
      <ion-select [(ngModel)]="beacon.marker" name="marker">
        <ion-option value="null">Ninguno</ion-option>
        <ion-option *ngFor="let marker of markers" value="{{marker.id}}" required>{{marker.title}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Chat</ion-label>
      <ion-select [(ngModel)]="beacon.chat" name="chat">
        <ion-option value="null">Ninguno</ion-option>
        <ion-option *ngFor="let chat of chats" value="{{chat.id}}" required>{{chat.title}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
