page-loading {
    //   ion-spinner * {
    //   stroke: #444 ;
    //   fill: #222;
    // }
    .centered-img {
        //Imagen (logo)
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px; //=width/2
        margin-left: -50px; //=width/2
    }
    .spsmall {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
    }
    .spmedium {
        width: 270px;
        height: 270px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -135px;
        margin-left: -135px;
    }
    .splarge {
        width: 340px;
        height: 340px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -170px;
        margin-left: -170px;
    }
    .spwhite1 {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
    .spwhite2 {
        width: 370px;
        height: 370px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -185px;
        margin-left: -185px;
    }
}